/* Import your custom input theme file so you can call the custom-input-theme function */
@import "../../../assets/themes/celtic.scss";

/* Using the $theme variable from the pre-built theme you can call the theming function */
@include celtic-grid-theme($teal-app-theme);



.max-header {
  text-align: center;
}
.full {
  width: 100%;
  height: 100%;
}
